
/********** Описание стилей для страницы товара туточки **********/

/* Задаем стили заголовков на странице таоваров */
.item h3 {
    font-weight: 400;
    color: black;
    font-size: 18px;
    background-color: #eaeaea;
}

/* Делаем рамку без использования бордер))) */
.item img {
    padding: 4px;
    background-color: black;
}

/* ДЗ 4 задание 7 Убираем рамку, с тем учетом, что она была сделана по доп заданию из прошлого */
.item img:hover {
    background-color: #f8f8f8;
}

/* Здесь выключаем все стили списка и задаем стиль шрифата  */
.characteristic {
    list-style-type: none;
    font-style: oblique;
}

/* А здесь размещаем одну из наших картинок в качестве нумератора списка */
.characteristic li::before {
    content: '';
    display: inline-block;
    height: 15px;
    width: 15px;
    background-image: url("../img/Grey1.jpg");
    background-size: 15px;
}

/* Это то что просили для краткого описания */
.minDescry {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.shortImage {

}

.shortImage .image {
    padding: 0;
    float: left;
}

.shortImage .minDescry {
}

/* А это просили для полного, здесь спецом сделал несколько иначе, т.е.
 запихал весь раздел в див*/
.fullDescry p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/*ДЗ 4 задание 8 изменияем первую букву всех параграфов на страницах товаров*/
.item p:first-letter{
    font-size: 25px;
    color: blue;
}

.thumb {
    float: left;
    width: 30%;
    height: 30%;
}

.buyButton {
    position: fixed;
    transition: 200ms;
    bottom: 40px;
    right: 40px;
}

.buyButton button:hover {
    color: blue;
}

.buyButton button:active {
    color: red;
}