/************* То чт вы хотели знать о меню ****************/
/* Задаем стили наших кнопок */
.menu button {
    border-radius: 6px;
    background-color: azure;
    font-size: 14px;
    font-style: revert;
    font-weight: bold;
    font-family: Superclarendon, Arial, Tahoma, serif;
}

/* ДЗ 5 задание 4,5,6  Переделываем меню на список*/
.menu {
    margin-right: 40px;
    vertical-align: middle;
}
.menu > ul {
    display: inline-block;
    float: right;
}
.menu > ul li {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-top: 20px;
}

/* ДЗ4 задание 1: А теперь будем менять их при наведении */
.menu button:hover {
    background-color: blue;
    color: darkgrey;
    font-style: italic;
    font-weight: normal;
}

.logo {
    /*display: inline-block;
    /*background-image: url("../img/Grey1.jpg");*/
    background-size: 50px;
    width: 60px;
    float: left;
    margin-left: 40px;
    margin-top: 20px;
}

/* ДЗ 5 задание 2 */
.header {
    height: 80px;
}