.social {
    width: 100%;
    text-align: center;
    margin-top: 75px;
}
.socialList li {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: white solid 2px;
    border-radius: 20px;
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
}

.socialList li:hover {
    border-color: red;
}

.socialList li a {
    display: block;
    width: 100%;
    height: 100%;
}

.socialList li a img {
    display: block;
    margin-left: 15px;
    margin-top: 12px;
}

.socialList li a .vk {
    margin-left: 10px;
    margin-top: 15px;
}